<p>load-formly works!</p>

<div class="container">
    <div class="py-3 text-center">
      <h5>Angular Formly Bootstrap</h5>
    </div>
  
    <div class="row">
      <div class="col-md-4 mb-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form
            [form]="form"
            [model]="model"
            [fields]="fields">
          </formly-form>
          
          <button class="btn btn-primary" type="submit">
            Submit
          </button>
  
          <button class="btn btn-danger" type="reset">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
